/*
 * CssModule Definition:
 * --------------------------------
 * CSSModule recommends that in CSS Modules each class should have all the styles needed for that variant.
 * This means that a particular style class should have all styles required for the element it will style rather than having
 * a base class and a child class. See Glen Maddens blog on CSS Modules at https://glenmaddern.com/articles/css-modules
 */
 @fullWidth: 100%;
 @fullHeight: 100%;
 @margin16: 16px;

 * {
   box-sizing: border-box;
 }
 .fullSize {
   width: @fullWidth;
   height: ~"calc(100vh - 101px)"; // Less does math on Calc, special syntax to disable LESS preprocessing on Calc ~"calc()".
 }

 .homeContainer {
  // As a result of composition, two classes are applied on the element where .homeContainer was referenced.
  // See the results of this composition below. You can also take the advantage of less modules however,
  // <div id="home" class="_2RZ8UH0_y19zKwpLB0GneA _3KqXQOQg3cU5WOzgmo6uqz iUTS3pM5FX9zdOvnk1kNv"></div>
  composes: displayFlex from '../main.less';

  // Composing from the same module
  composes: fullSize;
  position: relative;
  background-color: #f2f2f2;
}

//----------------------------------------------------
// Result of the composition
//----------------------------------------------------

// Module styles in .homeContainer
// ._2RZ8UH0_y19zKwpLB0GneA {
//     position: relative;
// }

// Composed style from main.less
// ._3KqXQOQg3cU5WOzgmo6uqz {
//     display: flex;
// }

// .iUTS3pM5FX9zdOvnk1kNv {
//     width: 100%;
//     height: 100%;
// }

.compRight {
  width: 30%;
}

.compLeft {
  width: 70%;
  height: @fullHeight;
  background-color: #e5e5e5;
  padding: @margin16;
}

.demo1 {
  height: 50%;
  width: @fullWidth;
  position: relative;
  background-color: white;
  border-radius: 2px;
  padding: @margin16;

}

.demo2 {
  composes: demo1;
  background-color: beige;
}

.demoData {
  composes: demo1;
  margin-top: @margin16;
}

.bottomRight {
  position: absolute;
  right: @margin16;
  bottom: @margin16;
}

.image {
  height:~"calc(100% - 3px)";
  width: @fullWidth;
}
